.invisible-at-first {
	display: none;
}

.jumbotron{
	background-size: cover;
	background-repeat: no-repeat;
        left:6em;
margin-top:-3em;
   



}

.jumbotron p
{
margin-bottom:-1em;
margin-top:-2.1em;
font-size:30px;
font-weight:bolder;
}




